<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css">
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/shortcut.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/xforgasm.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/formnav-all.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/entrycontrols_full.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}formplayer/script/fullform-ui.js?version={{app_version}}"></script>

    <link rel="stylesheet" href="{{STATIC_URL}}formplayer/style/webforms.css">

    <script language="javascript">

if (!window.console) {
  window.console = {
    log: function () { }
  };
}


GMAPS_API_KEY = '{{ maps_api_key|safe }}'; // maps api is loaded on-demand

// preloaders are deprecated -- support for backwards compatibility
PRELOADER_URL = "{% url xform_preloader %}";


function onlanginfo(switchfunc, langs) {
  $.each(langs, function(i, lang) {
      $b = $('<button />');
      $b.text(lang);
      $b.click(function() { switchfunc(lang) });
      $('#content').before($b);
    });
}

function onpresubmit() {
  return confirm('Submit this form finally, for all time and evermore?');
}

$(document).ready(function() {

  var sess = new WebFormSession({
    form_uid: '{{ form.file.path|escapejs }}',
    session_data: {{ session_data|safe }},
    xform_url: "{% url xform_player_proxy %}",
    onpresubmit: onpresubmit,
    onsubmit: submit_form_post,
    onlanginfo: onlanginfo,
  });

  var init_lang = {% if lang %}'{{ lang|escapejs }}'{% else %}null{% endif %};
  sess.load($('#content'), $('#loading'), init_lang);
  
});

    </script>
    
  </head>

  <body>

    <div id="content" style="position: relative; width: 100%"></div>
    <div id="loading" style="position: fixed; top: 15px; right: 15px; display: none;"><img src="{{STATIC_URL}}formplayer/img/loading_small.gif" /></div>

  </body>
</html>

