<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load hq_shared_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/jquery-1.8.3.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css">
    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/shortcut.js' %}"></script>

    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/xforgasm.js?version={{app_version}}' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/formnav-all.js?version={{app_version}}' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/entrycontrols_full.js?version={{app_version}}' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'formplayer/script/fullform-ui.js?version={{app_version}}' %}"></script>

    <link rel="stylesheet" href="{% static 'formplayer/style/webforms.css' %}">

    <script language="javascript">

if (!window.console) {
  window.console = {
    log: function () { }
  };
}


GMAPS_API_KEY = '{{ maps_api_key|safe }}'; // maps api is loaded on-demand

// preloaders are deprecated -- support for backwards compatibility
PRELOADER_URL = "{% url 'xform_preloader' %}";


function onlanginfo(switchfunc, langs) {
  $.each(langs, function(i, lang) {
      $b = $('<button />');
      $b.text(lang);
      $b.click(function() { switchfunc(lang) });
      $('#content').before($b);
    });
}

function onload(adapter, response) {
    if (response['langs'].length) {
        onlanginfo(function(lang) { adapter.switchLanguage(lang); }, response['langs']);
    }
}

function onpresubmit() {
  return confirm('Submit this form finally, for all time and evermore?');
}

$(document).ready(function() {

  TF_URL = '{{ touchforms_url|escapejs }}';
  var session_id = {% if session_id %}'{{ session_id|escapejs }}'{% else %}null{% endif %};

  var tfLoad = function() {

    var args = {
      xform_url: TF_URL,
      onpresubmit: onpresubmit,
      onsubmit: submit_form_post,
      onload: onload
    };

    if (session_id) {
      args.session_id = session_id;
    } else {
      // one of form_uid or form_content; form_uid does not work for offline mode
      //args.form_uid = '{{ form.file.path|escapejs }}';
      args.form_content = '{{ form.file.read|escapejs }}';

      args.session_data = {{ session_data|safe }};
      args.instance_xml = {{ instance_xml|safe }};
    }
    var sess = new WebFormSession(args);

    var init_lang = {% if lang %}'{{ lang|escapejs }}'{% else %}null{% endif %};
    sess.load($('#content'), init_lang);
  };
  var offlinePrompt = function(show) {
    $('#get-offline')[show ? 'show' : 'hide']();
  };
  touchformsInit(TF_URL, tfLoad, offlinePrompt);

});



    </script>
    
  </head>

  <body>

    <div id="get-offline" style="background-color: #faa; display: none;">offline cloudcare is, uhh... offline. get it <a href="http://mrgris.com/a/dimagi/offline-cloudcare.jnlp">here</a> (it may take a moment to fully load once downloaded)</div>

    <div id="content" style="position: relative; width: 100%"></div>
    <div id="loading" style="position: fixed; top: 15px; right: 15px; display: none;"><img src="{% static 'formplayer/img/loading_small.gif' %}" /></div>

  </body>
</html>

