*.pyc
.project
.pydevproject
local*settings.py
*~
*.class
*.db
.idea
data/
*.log
staticroot/

touchforms/offline-experimental/target/
touchforms/offline-experimental/cachedir/
touchforms/offline-experimental/dist/
touchforms/offline-experimental/src/main/resources/Lib/touchforms/
