*.pyc
.project
.pydevproject
local*settings.py
*~
*.class
*.db
.idea
data/
*.log
staticroot/

touchforms/offline/target/
touchforms/offline/cachedir/
touchforms/offline/dist/
touchforms/offline/src/main/resources/Lib/touchforms/
