{% extends "touchscreen/wrapper-raw.html" %}
{% load touchscreen_tags %}
{% block header %}
BHOMA Main Menu
{% endblock %}
{% block touchscreen_content %}
<h4>What would you like to do?</h4>
<center>
{% if perms.webapp.bhoma_enter_data %}
    {% url patient_select as pat_select_url %}
    {% ts_button "Enter Data" pat_select_url %}
{% endif %}

{% url report_list as rep_list_url %}
{% ts_button "View Reports" rep_list_url %}

{% if perms.webapp.bhoma_administer_clinic %}
	{% url bhoma_admin as b_admin_url %}
	{% ts_button "Administration" b_admin_url %}
{% endif %}
</center>
{% endblock %}
