{% load tabs_tags %}
<div id="header">
    <div class="container">
        <div class="span-7">
            <a href="/"><h1>BHOMA</h1></a>
		</div>
        <div class="span-17 last" style="text-align:right">
            {% if user.is_authenticated %}        
                Logged in as <strong>{{user}}@{{ clinic.name }}</strong>&nbsp;&nbsp;|&nbsp;&nbsp;  
                <a href="{% url bhoma.apps.webapp.views.logout %}">Log out</a>          
            {% else %}
                <a href="{% url bhoma.apps.webapp.views.bhoma_login %}">Log in</a>
            {% endif %}
       </div>
       {% if user.is_authenticated %}{% ifnotequal clinic.type.slug "clinic" %}        
       <nav>
            <ul id="top-nav">
                {% get_tabs as tabs %}
                     {% for tab in tabs %}
                         {% if tab.visible %}
                             {% if tab.is_active %}
                                 <li class="app-{{ tab.name }} active"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                             {% else %}
                                 <li class="app-{{ tab.name }}"><a href="{{ tab.url }}">{{ tab.caption }}</a></li>
                             {% endif %}
                         {% endif %}
                     {% endfor %}
            </ul>
        </nav>
        {% endifnotequal %}{% endif %}
    </div><!-- End Container Class -->
</div>
