{% extends "layout.html" %}
{% block content %}
<h3>What would you like to do?</h3>
<ul>
    <li><a href="{% url patient_dashboard %}">Look at patients</a></li>
    <li><a href="{% url report_list %}">View reports</a></li>
    <li><a href="{% url manage_chws %}">Manage CHWs</a></li>
    <li><a href="{% url export_data %}">Export clinical data to excel</a></li>
    
</ul>
<br></br><br></br><br></br><br></br><br></br>
{% if user.is_superuser %}
<h3>Debug/administrative operations</h3>
<ul>
    <li><a href="{% url clinic_landing_page %}">Go to Clinic Landing Page</a></li>
    <li><a href="{% url couchlog_home %}">View recent error messages</a></li>
    <li><a href="{% url phone_sync_logs %}">Look at sync logs from phones</a></li>
</ul>
{% endif %}
{% endblock %}
