<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="{{MEDIA_URL}}webapp/stylesheets/touchscreen.css" type="text/css">

    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/layout.js?version={{app_version}}"></script>   
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/touchscreen-ui.js?version={{app_version}}"></script>   
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/formnav.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/dates.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/entrycontrols.js?version={{app_version}}"></script>
    <script language="javascript" type="text/javascript;version=1.7" src="{{MEDIA_URL}}webapp/javascripts/workflow.js?version={{app_version}}"></script>
   
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}webapp/javascripts/shortcut.js"></script>

{% for script in dynamic_scripts %}
    <script language="javascript" type="text/javascript;version=1.7" src="{{MEDIA_URL}}{{script}}?version={{app_version}}"></script>   
{% endfor %}

    <script language="javascript">

if (!window.console) {
  window.console = {
    log: function () { }
  };
}

XFORM_URL = "{% url xform_player_proxy %}";
PRELOADER_URL = "{% url xform_preloader %}";
AUTOCOMPLETE_URL = "{% url bhoma.apps.webapp.views.autocomplete %}";

XFORM_NAME = "{{form.name}}";
XFORM_UID = null;

CLINIC_PREFIX = {{ clinic.prefix }};
CLINIC_NUM_CHW_ZONES = {{ clinic.num_chw_zones|default:"8" }};

//NUMERIC_MONTHS = true;
//DATE_DISPLAY_ORDER = 'dmy';

function init () {

  setup();
  initStaticWidgets();
  render_clean();
  
{% ifequal mode 'xform' %}

  XFORM_UID = $('#form-uid')[0].value;
  gFormAdapter = new xformAjaxAdapter(XFORM_UID, {{ preloader_data|safe }});
  
{% else %}

  gFormAdapter = new workflowAdapter(new {{ form.wfobj }}());

{% endifequal %}

  gFormAdapter.loadForm();
}

    </script>
    
  </head>

  <body id="body" onLoad="init();" style="
    cursor: crosshair; /* change cursor */
    overflow: hidden;  /* disable scrolling */
    font-family: sans-serif; 
    font-size: xx-large;"
    oncontextmenu="return false;"> <!-- disable right-click -->
    <div id="viewport" style="
      -moz-user-select: -moz-none; /* disable ability to select static text */
      -webkit-user-select: none; /* disable ability to select static text */
      position: absolute;
      left: 0px;
      top: 0px;
      width: 1024px;
      height: 768px;
      background-color: red;
      margin: 0px;">
    </div>

    <!-- an off-screen area to temporarily dump text and play with text sizing -->
    <div id="staging" style="position: absolute; left: 0px; background-color: #ddd; font-weight: bold;">
      <span id="snippet"></span>
    </div>
    
    <!-- stick form uid here to aid with backslash escaping -->
    <input id="form-uid" type="hidden" value="{% ifequal mode 'xform' %}{{form.file.path}}{% endifequal %}">

  </body>
</html>

