#inner {
    min-height: 100px
}

#header .container h1 {
    background: url("../images/logo_cidrz.gif")  no-repeat; 
    min-height: 56px;
    margin: 5px;
    text-indent:-9999px;
}
#footer .container {
	margin-top: 10px;
	padding-top: 10px;
    border-top: 2px solid #eeeeff;
}

tr td.namespace{
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
}

ul.tabs 
{
	float: left;
    list-style-type: none;
    font-size: 150%;
    padding-left: 0;
}



.boxed {
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #f3f3f3;
}
 
.code  {
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #eee;
}

.relative {
    position: relative;
}

ul#top-nav{
	padding-top: 10px;
	list-style-type: none;
    border-collapse: collapse;
    font-size: 1.2em;
}
ul#top-nav li {
	display: inline;
}

nav ul {
        float: right;
        padding-top: 3px;
        padding-bottom: 0;
        margin: 0;
}

nav li {
    padding: 0 11px 0 6px;
    font-weight: normal;
    font-size: 1.2em;
    border-right: 1px solid #96989B;
    margin: 0;
}

nav li.active
{   
	font-weight:bold;
}

nav li:last-child {
    border-right: none;
    padding-right: 0px;
}

.tabs li 
{
    display: inline;
    padding-right: 20px;
}

.tabs li.active
{
    font-weight:bold;
}
 
/* ripped off from the blueprint, to plug into django messages framework */
.warning, .info {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.warning, .info {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.warning a, .info a {color:#514721;}
 