#inner {
    min-height: 100px
}

#footer .container {
	margin-top: 10px;
	padding-top: 10px;
    border-top: 2px solid #eeeeff;
}

tr td.namespace{
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
}