#viewport {
    cursor: crosshair; /* change cursor */
    overflow: hidden;  /* disable scrolling */
    font-family: sans-serif; 
    font-size: xx-large;
    -moz-user-select: -moz-none; 
    
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 1024px; 
    height: 768px; 
    background-color: red; 
    margin: 0px;
}

#title {
	display: block;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 929px; 
    height: 44px; 
    background-color: rgb(221, 221, 238);
}

#title td {
    font-weight: bold; 
    font-size: 100%; /* why doesn't this work? */ 
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

#help-button {
    position: absolute; 
    cursor: pointer;
    top: 0px; 
    left: 934px; 
    width: 50px; 
    height: 44px; 
    background-color: rgb(170, 170, 170); 
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#footer {
    position: absolute; 
    top: 678px; 
    left: 10px; 
    width: 1004px; 
    height: 80px; 
    background-color: rgb(170, 187, 221);
}

#footer-inner {
    position: absolute; 
    top: 6px; 
    left: 10px; 
    width: 984px; 
    height: 64px; 
    background-color: rgb(170, 187, 221);
}

.footer-button {
    width: 150px; 
    height: 64px;
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;  
}

.footer-button td {
    font-weight: bold; 
    text-align: center;
    font-size: 100%; 
    color: rgb(255, 255, 255);
}

.really-big-button {
    width: 550px; 
    height: 128px;
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 30px;
    background: #111188; /* old browsers */
}
.really-big-button td {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);   
    font-size: xx-large; 
}

.big-button {
    width: 380px; 
    height: 64px;
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px;
    background: #111188; /* old browsers */
}

#clear-button, .clear-button, #help-button {
	/* all styles courtesy of: http://www.colorzilla.com/gradient-editor/ *]
    background: #999999; /* old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #999999 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#999999)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#999999',GradientType=0 ); /* ie */
}

.rounded {
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.shiny-button, .key-button {
	color: #fff;
	background: #111188; /* old browsers */
    background: -moz-linear-gradient(top, #3232B4 0%, #111188 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3232B4), color-stop(100%,#111188)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3232B4', endColorstr='#111188',GradientType=0 ); /* ie */
}

.spacebar {
    background: #cbebff; /* old browsers */
    background: -moz-linear-gradient(top, #cbebff 0%, #a1dbff 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbebff), color-stop(100%,#a1dbff)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbebff', endColorstr='#a1dbff',GradientType=0 ); /* ie */
}

.selected {
    background: #00bbff; /* old browsers */
    background: -moz-linear-gradient(top, #00ccff 0%, #00bbee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bbff), color-stop(100%,#0099dd)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#0099dd',GradientType=0 ); /* ie */
}

.big-button td {
    font-weight: bold;
    text-align: center;  
    color: rgb(255, 255, 255);   
    font-size: xx-large; 
}

.big-button-disabled {
    width: 380px; 
    height: 64px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px;
    background-color: #ddddee;

}
.big-button-disabled td {
    font-weight: bold;
    text-align: center;  
    color: rgb(255, 255, 255);   
    font-size: xx-large; 
}

#power-button, #power-button:active {
    width: 250px; 
    height: 64px;
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px;
    font-size: xx-large;
    font-weight: bold;
    border:none;
    margin:0px;
    padding:0px;
    color: #fff;
    background: #dd2233; /* old browsers */
    background: -moz-linear-gradient(top, #dd2233 0%, #bb0011 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd2233), color-stop(100%,#bb0011)); /* webkit */
}

#back-button, .numpad-button {
    position: absolute; 
    top: 6px; 
    left: 10px; 
    background: #67a9db; /* old browsers */
    
    background: -moz-linear-gradient(top, #67a9db 0%, #4587b9 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67a9db), color-stop(100%,#4587b9)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a9db', endColorstr='#4587b9',GradientType=0 ); /* ie */
}

#home-button {
    position: absolute; 
    top: 6px; 
    left: 166px; 
    background: #dd2233; /* old browsers */
    background: -moz-linear-gradient(top, #dd2233 0%, #bb0011 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd2233), color-stop(100%,#bb0011)); /* webkit */
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2233', endColorstr='#bb0011',GradientType=0 ); /* ie */
}

#next-button {
    position: absolute; 
    top: 6px; 
    left: 844px; 
    background: #11ab33; /* old browsers */
    background: -moz-linear-gradient(top, #11ab33 0%, #008911 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11ab33), color-stop(100%,#008911)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11ab33', endColorstr='#008911',GradientType=0 ); /* ie */
}

#session-info {
    position: absolute; 
    top: 6px; 
    left: 322px; 
    background-color: rgb(170, 187, 221);
    width: 500px; 
    height: 64px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold; 
    color: rgb(255, 255, 255);
}
#session-info td {
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;  
    color: rgb(255, 255, 255);
}

.touchscreen th {
    background-color: inherit;
}

.phone {
    background-image:url('silk/phone.png');
    background-repeat:no-repeat;
    background-position:center center;
}

.clinic {
    background-image:url('silk/monitor.png');
    background-repeat:no-repeat;
    background-position:center;
}

.case_info .none {
    color:grey;
}

.case_info .open {
    font-weight:bold;
}

th.table-heading {
    text-align: center;
    background-color: rgb(221, 221, 238);
    border: 1px solid grey;
}

td.prompt {
    text-align: left;
}

li .value {
    font-weight: bold;	
}

.important {
    color: #e11;
    font-weight: bold;
}