#viewport {
    cursor: crosshair; /* change cursor */
    overflow: hidden;  /* disable scrolling */
    font-family: sans-serif; 
    font-size: xx-large;
    -moz-user-select: -moz-none; 
    
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 1024px; 
    height: 768px; 
    background-color: red; 
    margin: 0px;
}

#title {
	display: block;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 929px; 
    height: 44px; 
    background-color: rgb(221, 221, 238);
}

#title td {
    font-weight: bold; 
    font-size: 100%; /* why doesn't this work? */ 
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

#help-button {
    position: absolute; 
    top: 0px; 
    left: 934px; 
    width: 50px; 
    height: 44px; 
    background-color: rgb(170, 170, 170); 
    -moz-border-radius: 10px 10px 10px 10px;
}

#footer {
    position: absolute; 
    top: 678px; 
    left: 10px; 
    width: 1004px; 
    height: 80px; 
    background-color: rgb(170, 187, 221);
}

#footer-inner {
    position: absolute; 
    top: 6px; 
    left: 10px; 
    width: 984px; 
    height: 64px; 
    background-color: rgb(170, 187, 221);
}

.footer-button {
    width: 150px; 
    height: 64px;
    cursor: pointer;
    -moz-border-radius: 10px 10px 10px 10px;  
}

.footer-button td {
    font-weight: bold; 
    text-align: center;
    font-size: 100%; 
    color: rgb(255, 255, 255);
}

.really-big-button {
    width: 550px; 
    height: 128px;
    cursor: pointer;
    -moz-border-radius: 10px 10px 10px 10px;
    margin: 30px;
    background-color: rgb(17, 17, 136);

}
.really-big-button td {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);   
    font-size: xx-large; 
}

.big-button {
    width: 400px; 
    height: 64px;
    cursor: pointer;
    -moz-border-radius: 10px 10px 10px 10px;
    margin: 15px;
    background-color: rgb(17, 17, 136);

}
.big-button td {
    font-weight: bold;
    text-align: center;  
    color: rgb(255, 255, 255);   
    font-size: xx-large; 
}


#back-button {
    position: absolute; 
    top: 6px; 
    left: 10px; 
    background-color: rgb(102, 170, 221); 
}

#menu-button {
    position: absolute; 
    top: 6px; 
    left: 166px; 
    background-color: rgb(221, 34, 51); 
}

#next-button {
    position: absolute; 
    top: 6px; 
    left: 844px; 
    background-color: rgb(17, 170, 51); 
}

#session-info {
    position: absolute; 
    top: 6px; 
    left: 322px; 
    background-color: rgb(170, 187, 221);
    width: 500px; 
    height: 64px;
    -moz-border-radius: 10px 10px 10px 10px;
    font-weight: bold; 
    color: rgb(255, 255, 255);
}
#session-info td {
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;  
    color: rgb(255, 255, 255);
}

.touchscreen th {
    background-color: inherit;
    
}