.xform_data {
    font-size: 85%;	
}
.xform_data ul {
    list-style-type: none;
    padding-left: 10px;
    margin: 0px;
}

.xform_data ul li {
    margin-left: 0px;
    
}

#formdata {
    background-color: #fff;
    border: 1px solid #000;
    list-style-type: none;
    padding-left: 10px;
}

#formdata ul {
    list-style-type: none;
    padding-left: 10px;
}

#formdata .value {
    font-weight: bold;
}