URL_ROOT = "https://example.com/a/{{ DOMAIN }}"
PERSISTENCE_DIRECTORY = "/path/to/www/data/touchforms"

# If you want to test with https on a proxy
# that doesn't have a valid cert, uncomment the following lines

# from jython_ssl import SSLContext, TRUST_ALL_CONTEXT
# SSLContext.setDefault(TRUST_ALL_CONTEXT)

USES_POSTGRES = True
POSTGRES_TABLE = "formplayer_session"
POSTGRES_JDBC_JAR = "{COMMCARE_HOME}/submodules/touchforms-src/touchforms/backend/jrlib/postgresql-9.4-1201.jdbc41.jar"

DATABASE = {
        'serverName': 'localhost:5432',
        'databaseName': 'commcarehq',
        'user': 'admin',
        'password': '123',
}