
.webforms {
  max-width: 800px;
  font-family: sans-serif;
}

#instance-xml {
  min-width: 800px;
  font-family: sans-serif;
}

#evaluate-result {
  min-width: 800px;
  font-family: sans-serif;
}

#instance-xml-home {
  min-width: 800px;
}

video {
  max-width: 400px;
}

.ix {
  display: none;
}

.widget-container {
  position: relative;
}

.loading {
  position: absolute;
  right: -15px;
  line-height: 30px;
  font-size: 18px
}

.error-message {
  font-weight: bold;
}

input:invalid {
  color: #b94a48;
  border-color: #b94a48;
}


.required .caption:before {
  content: '*';
  font-weight: bold;
  color: #c0392b;
  margin: 0 3px;
}

.dirty .widget {
    background-color: lightblue;
}

.map {
  width: 400px;
  height: 250px;
  background: #eee;
  max-width: none !important;
}

.coordinate {
  font-weight: bold;
  width: 8em;
}

.wait {
  margin: auto;
  padding-top: 60px;
  max-width: 200px;
  color: #bbb;
  font-size: 24pt;
  line-height: 28pt;
}
