
.webforms {
  max-width: 800px;
  font-family: sans-serif;
}

.debugger {
  width: 800px;
  position: fixed;
  bottom: 0;
  background-color: white;

  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.debugger .debugger-container {
  height: 365px;
  padding: 20px;
  padding-bottom: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.debugger .debugger-content {
  overflow-y: auto;
  margin-top: 12px;
  height: 300px;
}

.debugger.debugger-minimized {
  height: 30px;
}

.debugger.debugger-maximized {
  height: 400px;
}

.debugger .debugger-state {
  cursor: pointer;
}

.debugger-tab-title {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #004ebc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: #ddd solid 4px;
  padding: 6px;
}

video {
  max-width: 400px;
}

.ix {
  display: none;
}

.widget-container {
  position: relative;
}

.widget {
  margin-right: 20px;
}

.loading {
  position: absolute;
  right: -15px;
  line-height: 30px;
  font-size: 18px
}

.error-message {
  font-weight: bold;
}

input:invalid {
  color: #b94a48;
  border-color: #b94a48;
}


.required .caption:before {
  content: '*';
  font-weight: bold;
  color: #c0392b;
  margin: 0 3px;
}

.dirty .widget {
    background-color: lightblue;
}

.map {
  width: 400px;
  height: 250px;
  background: #eee;
  max-width: none !important;
}

.coordinate {
  font-weight: bold;
  width: 8em;
}

.wait {
  margin: auto;
  padding-top: 60px;
  max-width: 200px;
  color: #bbb;
  font-size: 24pt;
  line-height: 28pt;
}
