{% extends "touchscreen/wrapper-raw.html" %}
{% block header %}Goodbye{% endblock %}
{% block touchscreen_content %}
<center>
<h3>Thanks for visiting BHOMA!</h3>
<br></br>
<div class="really-big-button" onclick="location.href='{% url touchscreen_login %}'">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="middle">Login again</td>
            </tr>
        </tbody>
    </table>
</div>
</center>
{% endblock %}
