<script type="text/html" id="sub-group-fullform-ko-template">
    <div class="gr">
        <div class="gr-header">
            <span class="caption"></span>
            <span class="ix"></span>
            <a class="del" href="#" data-bind="
                visible: isRepetition,
                click: deleteRepeat
            ">delete</a>
        </div>
        <div class="children" data-bind="template: { name: childTemplate, foreach: $data.children }"/>
    </div>
</script>

<script type="text/html" id="form-fullform-ko-template">
    <div>
        <h1 class="title" data-bind="text: title"></h1>
        <div class="form">
            <div data-bind="template: { name: childTemplate, foreach: $data.children }"/>
        </div>
        <input class="submit"
            type="submit"
            value="Submit"
            data-bind="
                click: submitForm,
                attr: {
                    value: submitText
                }
                "
            />
    </div>
</script>

<script type="text/html" id="question-fullform-ko-template">
    <!-- ko if: datatype() !== 'info' -->
    <div class="q" data-bind="css: { qerr: error }">
        <div class="widget-container">
            <div class="widget" data-bind="
                template: { name: entryTemplate, data: entry, afterRender: afterRender }
            ">
            </div>
            <div class="widget-multimedia" data-bind="
                template: { name: 'widget-multimedia-ko-template', data: $data }"
                >
            </div>
        </div>
        <span class="req" data-bind="visible: $data.required ? required : false">*</span>
        <span class="caption" data-bind="html: caption_markdown || caption"></span>
        <span class="ix" data-bind="text: ixInfo($data)"></span>
        <div class="error" data-bind="
            visible: error,
            text: error
        "></div>
        <div class="eoq"></div/>
    </div>
    <!-- /ko -->
    <!-- ko if: datatype() === 'info' -->
    <div class="info">
        <span class="ix" data-bind="text: ixInfo($data)">></span>
        <span class="caption" data-bind="html: caption"></span>
        <div class="widget-multimedia" data-bind="
            template: { name: 'widget-multimedia-ko-template', data: $data }"
            >
        </div>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="repeat-juncture-fullform-ko-template">
    <div class="rep">
        <div class="rep-header">
            <span class="caption" data-bind="html: header"></span>
            <span class="ix" data-bind="text: ixInfo($data)"></span>
        </div>
        <div class="children" data-bind="template: { name: childTemplate, foreach: $data.children }"/>
        <div class="empty" data-bind="visible: !children().length">This repeatable group is empty</div>
        <div class="rep-footer">
            <a class="add" href="#" data-bind="click: newRepeat">add new</a>
        </div>
    </div>
</script>

<script type="text/html" id="widget-multimedia-ko-template">
    <img data-bind="attr: { src: mediaSrc($data.caption_image()) }" />
    <audio data-bind="visible: caption_audio, attr: { src: mediaSrc($data.caption_audio()) }">
        Your browser does not support audio
    </audio>
    <video data-bind="visible: caption_video, attr: { src: mediaSrc($data.caption_video()) }">
        Your browser does not support video
    </video>
</script>

<script type="text/html" id="str-entry-ko-template">
    <textarea class="textfield" data-bind="
        value: $data.answer,
        attr: {
            maxlength: lengthLimit,
        }
    "></textarea>
    <span class="type" data-bind="
        text: domainText()
    "></span>
</script>
<script type="text/html" id="int-entry-ko-template">
    <input type="number" data-bind="
        value: $data.answer,
        attr: { maxlength: lengthLimit }
    "/>
    <span class="type" data-bind="
        text: domainText()
    "></span>
</script>
<script type="text/html" id="float-entry-ko-template">
    <input type="number" step="any" data-bind="
        value: $data.answer,
        attr: { maxlength: lengthLimit }
    "/>
    <span class="type" data-bind="
        text: domainText()
    "></span>
</script>
<script type="text/html" id="unsupported-entry-ko-template">
    <div class="unsupported" data-bind="
        text: "Sorry, web entry cannot support this type of question" + datatype
    "></div>
</script>
<script type="text/html" id="geo-entry-ko-template">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td class="lat coordinate" data-bind="text: formatLat(lat())"></td>
                <td class="lon coordinate" data-bind="text: formatLon(lon())"></td>
                <td align="right" valign="bottom">
                    <a class="clear" href="#" data-bind="
                        click: onClear
                    ">clear</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="map" data-bind="attr: { id: entryId }">
        <div class="wait" data-bind="visible: !map">Please wait while the map loads</div>
    </div>
    <div>
        <form data-bind="submit: search">
            <input class="query" />
            <input type="submit" class="search" value="Search">
        </form>
    </div>
</script>
<script type="text/html" id="select-entry-ko-template">
    <div class="sel" data-bind="foreach: choices, as: 'choice'">
        <input data-bind="
            checked: $parent.answer,
            value: $index() + 1,
            attr: {
                id: 'group-' + $parent.entryId + '-choice-' + $index(),
                type: $parent.isMulti ? 'checkbox' : 'radio',
                name: $parent.group,
                class: 'group-' + $parent.entryId
            }
        "/>
        <label class="fp-label" data-bind="
            text: $data,
            attr: {
                for: 'group-' + $parent.group + '-choice-' + $index()
            }
        "></label>
    </div>
    <div class="clear-container">
        <a class="clear" href="#" data-bind="
            click: onClear
        ">clear</a>
    </div>
</script>
<script type="text/html" id="date-entry-ko-template">
    <input type="text" data-bind="attr: { id: entryId } "/>
    <span>mm/dd/yy</span>
</script>
<script type="text/html" id="blank-entry-ko-template"></script>
